.encounters {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    align-self: center;
    text-align: center;
  }

  h2 {
    font-family: 'Exo', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    color: red;
    margin-bottom: 0rem;
    align-self: center;
  }

  .tagline {
    font-family: 'Exo', sans-serif;
    font-size: 1.75rem;
    font-weight: 200;
    color: #000;
    margin-top: 0rem;
    align-self: center;
  }

  .report-wrapper {
    overflow-y: auto;
    flex: 0 1 70%;
    max-height: 500px;
  }

  .encounters-report {
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
    list-style: none;
    padding: 1rem 0rem;
  }

  footer {
    width: 100vw;
    background-color: #000;
    cursor: pointer;
    text-align: center;
  }
}
