.check-in {
background-color: #000;
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;

  h1 {
    align-self: center;
  }

  form {
    align-self: center;

    input select option {
      font-family: 'Exo', sans-serif;
      font-size: 2rem;
      color: red;
      width: 80%;
      padding: 1rem;
      margin: 1rem 1rem;
    }
  }
}
