<div class="check-in">
  <h1>Register</h1>
  <form name="checkinForm" ng-clas="{ 'show-validation' : validate }">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Name" ng-model="colonist.name" />
    <label>Age:</label>
    <input type="number" name="age" placeholder="Age" ng-model="colonist.age" />
    <label>Select a job</label>
    <select name="job" ng-model="colonist.job_id">
      <option value="">Select a job</option>
      <option value="{{ job.id }}" ng-repeat="job in jobs">{{ job.name }}</option>
    </select>
    <button ng-click="login($event)">
      <h1>Check in</h1>
    </button>
    {{ colonist.id }}
  </form>
</div>
